* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #121212;
}


.App {
  text-align: center;
  padding-top: 80px;
  background-color: #0e0e0e;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

h2 {
  color: #00aaff;
}
